/* The body has an iamge that spans the entire size of the page.
   Everything is centered and in white. */
h1 {
    font-size: 90;
    text-align: center
}

button {
    margin-top: 10px;
}

/* site-wrapper and site-wrapper-inner are to vertically center content using
   table/table-cell vertical centering. */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.center {
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}


#animate-area   { 
    width: 100%; 
    height: 100%; 
    background-image: url("https://cdn2.justwineapp.com/assets/article/2017/05/Beer-Flight-2.jpg");
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
