<!DOCTYPE html>

<html lang="en">
<head>
  <title>YEET</title>
  <!-- for responsive viewing on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- custom CSS -->
  <link rel="stylesheet"
        href="/static/css/styles.css">
  <link rel="icon" 
        type="image/png" 
        href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/237/clinking-beer-mugs_1f37b.png">
</head>
<body>
  {% block body %}
      BODY GOES HERE
  {% endblock %}
</body>
</html>