{% extends 'base.html' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-8">
        <h2>{{yelp_business.name}}</h2>
        <p>{{yelp_business.location.display_address[0]}}<br>
           {{yelp_business.location.display_address[1]}}
        </p>
        <img src={{yelp_business.photos[0]}} class="img">
        <img src={{yelp_business.photos[1]}} class="img">
        <img src={{yelp_business.photos[2]}} class="img">
        <h2>Happy Hour Menu</h2>
    
    <div id="map"></div>
    <script type="text/javascript">
      latitude = {{ yelp_business.coordinates.latitude }};
      longitude = {{ yelp_business.coordinates.longitude }};
    </script>
    <script src="/static/js/googlemaps.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgjEoy8P-EX-qIdk2SgEZBjJFppRcU5G8&callback=initMap">
    </script>
    </div>
    <div class="col-4" id="ajacks">
        <h2>Happy Hours:</h2>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Monday</th>
              <td>{{monday}}</td>
            </tr>
            <tr>
              <th scope="row">Tuesday</th>
              <td>{{tuesday}}</td>
            </tr>
            <tr>
              <th scope="row">Wednesday</th>
              <td>{{wednesday}}</td>
            </tr>
            <tr>
              <th scope="row">Thursday</th>
              <td>{{thursday}}</td>
            </tr>
            <tr>
              <th scope="row">Friday</th>
              <td>{{friday}}</td>
            </tr>
             <tr>
              <th scope="row">Saturday</th>
              <td>{{saturday}}</td>
            </tr>
             <tr>
              <th scope="row">Sunday</th>
              <td>{{sunday}}</td>
            </tr>
          </tbody>
        </table>
        <div class="btn-toolbar">
        <button type="button" id="confirm" class="btn btn-success mr-2">Confirm Hours</button>
        <!-- Links to input route here -->
        <form action="/submit/{{yelp_business.id}}">
          <input type="hidden" name= "business_name" value = "{{yelp_business.name}}">
          <button class="btn btn-secondary" type="submit">Suggest Edits</button>
        </form>
        </div>
      <!--   <a class="btn btn-secondary" href="/submit/{{yelp_business.id}}" role="button">Suggest Edits</a> -->
    </div>
  </div>
</div>

<script src="http://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="/static/js/ajax.js"></script>

{% endblock %}